
<%- include('partials/header') %>

    <main class="main-content index_container">

        <header>
            <h1>Welcome to the Math Competition App</h1>
        </header>

        <div class="stein-container">
            <h2>Are You Smarter Than A 9th Grader? Test Your Knowledge!</h2>
        </div>

        <div class="navigation__container">
            <a href="/leaderboards">
                View Leaderboards
            </a>
            <a href="/quiz">
                Start the Quiz!
            </a>
        </div>
    </main>
</body>
</html>
