<%- include('partials/header') %>

<main class="main-content">

  <header>
    <h1>Math Quiz</h1>
  </header>

  <h2>Answer the question below:</h2>

  <div class="question-container">
    <p><%= question %></p>
  </div>

  <p class="streak-display">Current Streak: <%= streak %></p>

  <form action="/quiz" method="POST">

    <label for="answer">Your Answer:</label>

    <div class="input-and-button">

      <input type="number" id="answer" name="answer" value="0" required autofocus />
      <button type="submit">Submit</button>

    </div>
  </form>

</main>

</body>
</html>